<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <div th:insert="~{parts/fragments :: style} "></div>
    <div th:insert="~{parts/fragments :: navbar} "></div>
    <body>
        <div class="container mt-5">
            <h5 sec:authorize="isAuthenticated()">Hello, <span  sec:authentication="name"></span></h5>
            <h5 sec:authorize="!isAuthenticated()">Hello, unknown user</h5>
            <div>This is a simple clone of Twitter</div>
        </div>
    </body>
</html>