<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Введите сообщение"/>
            <input type="text" name="tag" placeholder="Введите тэг"/>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>
        <tr th:each="message : ${messages}">
            <b><span th:text="${message.text}"></span> </b>
            <i><span th:text="${message.tag}"></span> </i>
            <p></p>
        </tr>
    </div>
</body>
</html>