<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
            <span><a th:href="@{/user}">User list</a> </span>
        </form>
    </div>
    <p></p>
    <div>
        <form method="post" th:action="main">
            <input type="text" name="text" placeholder="Введите сообщение"/>
            <input type="text" name="tag" placeholder="Введите тэг"/>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <p>Список сообщений:</p>
    <form method="get" th:action="main">
        <input type="text" name="filter" th:value="${filter}">
        <button type="submit">Найти</button>
    </form>
    <div>
        <tr th:each="message : ${messages}">
            <strong><span th:text="${message.id}"></span></strong>
            <span th:text="${message.text}"></span>
            <i><span th:text="${message.tag}"></span></i>
            <strong><span th:text="${message.authorName}"></span></strong>
            <p></p>
        </tr>
        <span th:if="${#lists.isEmpty(messages)}">No messages</span>
    </div>
</body>
</html>