<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User editor</title>
    User editor
    <form th:action="user" method="post">
        <div th:each="user : ${users}">
            <input type="text" name="username" th:value="${user.username}">

            <div th:each="role : ${roles}">
                <input type="checkbox" name="${role}" th:checked="${user.roles.contains(role)}">
<!--                <input type="checkbox" name="${role}" th:checked="true">-->
                <label th:text="${role}"></label>
            </div>
            <input type="hidden" name="userId" th:value="${user.id}">
            <button type="submit">Save</button>
        </div>
    </form>
</head>
<body>

</body>
</html>